<style>
   .table_header {  
    font-weight : bold; 
    padding-left:  20px; 
    border-right:  1px  solid  #dad9c7; 
    margin-left: 1px; 
} 

th.headerSortUp { 
    background-image: url(/img/icons_tablesorter/up.png); 
    background-color: #3399FF; 
    background-repeat: no-repeat; 
    background-position: center right; 
} 

th.headerSortDown { 
    background-image: url(/img/icons_tablesorter/down.png); 
    background-color: #3399FF;
    background-repeat: no-repeat; 
    background-position: center right; 
} 

</style>

<div class="row">
    <div class="col-md-1">
        &nbsp;
    </div>
    <div class="col-md-10">
        <a href="./tour?action=new" style="width:100%" class="btn btn-success">Додати тур</a>
    </div>
    <div class="col-md-1">
        &nbsp;
    </div>
</div>        
<div class="row">
    <div class="col-md-12">
        <table class="table tablesorter" id="tourstable">
            <thead class="thead-inverse">
                <tr>
                    <th class="table_header">Назва туру</th>
                    <th class="table_header">Ціна</th>
                    <th class="table_header">Днів</th>
                    <th class="table_header">&nbsp;</th>
                    <th class="table_header">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {{#tours}}
                <tr>
                    <td>{{country_uk}}</td>
                    <td>{{price}}</td>
                    <td>{{days}}</td>
                    <td class="col-btn"><a href="./tour?action=edit&id={{_id}}" class="btn btn-primary">Ред.</a></td>
                    <td class="col-btn"><a href="./tour?action=delete&id={{_id}}" class="btn btn-danger">Вид.</a></td>
                </tr>
                {{/tours}}
            </tbody>
        </table>
    </div>
</div>